[submodule "pathogen"]
	path = pathogen
	url = http://github.com/tpope/vim-pathogen.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "bundle/colorscheme-vividchalk"]
	path = bundle/colorscheme-vividchalk
	url = http://github.com/tpope/vim-vividchalk.git
[submodule "bundle/plugin-nerdtree"]
	path = bundle/plugin-nerdtree
	url = http://github.com/scrooloose/nerdtree.git
[submodule "bundle/plugin-command-t"]
	path = bundle/plugin-command-t
	url = https://github.com/akitaonrails/Command-T.git
